.footer{
    padding: 1.4911rem 0;
    background-color: #2C3154;
}

.footer__desc{
    width: 23.125rem;
    color: #808080;
    font-size: 1.125rem;
    margin: 0 auto;
    text-align: center;
}

.footer__desc-white{
    color: #FFFFFF;
}