.footer{
    padding: 1.4911rem 0;
    background-color: #2C3154;
}

.footer__desc{
    max-width: 23.125rem;
    color: #808080;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.footer__desc-white{
    color: #FFFFFF;
}