@import url("./_cdn.scss");
@import url("./header.scss");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: default;
    border: none;
}

.container{
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 20;
    position: relative;
}