.portfolio{
    max-width: 3000px;
    margin: 0 auto;
}

.portfolio-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(2, 100%);
    gap: 1px 1px; 
}

.portfolio-wrap__item{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 15% 0;

    a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: red;
        height: 100%;
        width: 100%;
    }

    &:hover{
        cursor: pointer;
    }
}

.portfolio-wrap__item__page1{
    background-image: url("./../img/page1.jpg");
}

.portfolio-wrap__item__page2{
    background-image: url("./../img/page2.jpg");
}

.portfolio-wrap__item__page3{
    background-image: url("./../img/page3.jpg");
}

.portfolio-wrap__item__page4{
    background-image: url("./../img/page4.jpg");
}

.portfolio-wrap__item__page5{
    background-image: url("./../img/page5.jpg");
}

.portfolio-wrap__item__page6{
    background-image: url("./../img/page6.jpg");
}

.portfolio-wrap__item__page7{
    background-image: url("./../img/page7.jpg");
}

.portfolio-wrap__item__page8{
    background-image: url("./../img/page8.jpg");
}

.portfolio-wrap__item__title{
    // visibility: hidden;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.75;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.portfolio-wrap__item__desc{
    // visibility: hidden;
    // margin-top: 1.2856rem;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: 0%;
    text-align: center;
}